.body {
    margin: 56px 16px 16px 16px;
}

.listItem_container {
    padding: 10px;
    border-bottom-width: 0.5px;
    border-bottom-color: #d9d9d9;
    border-bottom-style: solid;
}

.title_listItem {
    text-align:left;
    float:left;
    margin-right: 5px;
}

.button_editar_listItem {
    float: right;
}